body{
  background-color: rgb(240 , 242 , 245);
}

#myForm{
  position: absolute;
  top : 10%;
  left : 20%;
  right : 20%;
  width : auto;
  height: auto;
  border : 2px solid blue;
  text-align: center;
}

label {
  padding-top: 2%;
  display: block;
  font-weight: bolder;
}

#chooser{
  position: relative;
  display: block;
  left  : 40%;
  font-weight: bolder;
}

#upload {
  display: block ;
  background-color: blue;
  color : white;
}

img{
  position: relative;
  display: block;
  left : 34%;
}

#info {
  position: absolute;
  width : 60%;
  height : 20%;
  background-color: white;
  border-radius: 12px;
  margin-top: 0%;
  right : 20%;
  top : 80%;
}










