:host{
  position : absolute;
  top :10% ;
  bottom: 0;
  left : 0;
  right : 0;
  background-color:  #f1f1f1;
}


img{
  border-top-left-radius : 30px;
  border-top-right-radius: 30px;
  top: 0;
}


#preview{
  border : 5px solid blue;
  margin-bottom : 4%
}


.advertisement {
  position: relative;
  width :20%;
  height : auto;
  margin: 25px 50px 75px 100px;
  border-radius: 8px;
}

.advertisement_content {
  border-radius: 30px;
  position: relative;
  border: 2px solid blue;
  position: relative;
  background-color: white;
  width : auto;
  height: auto;
}

.picnum {
  border-radius: 8px;
  font-weight: bolder;
  opacity : 0.7;
  background-color: black;
  color : white;
  position: absolute;
  width : 7%;
  height : 5%;
  text-align: right;
  text-align: center;
  align-content: start;
  top : 72%;
  left : 3%;
}

.date{
  font-size: 25px;
  color : blue ;
  font-weight: bolder;
}

h6{
  font-weight: bolder;
  font-size : 20px;
  padding-left: 5%;
}

div{
  margin-top : 20%;
}

h2{
  display: inline;
}
